In [78]:
%matplotlib inline
import pandas as pd
import numpy as np

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [13]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
h = titles.head(8)
h['year']

0    2009
1    1935
2    1960
3    1997
4    1970
5    1992
6    1976
7    1985
Name: year, dtype: int64

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [5]:
len(titles)

230776

### What are the earliest two films listed in the titles dataframe?

In [21]:
result = titles.sort_values(by ='year', ascending=True).head(2)
result

                    title  year
13346          Miss Jerry  1894
35031  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [37]:
len(titles[titles.title == 'Hamlet'])

18

### How many movies are titled "North by Northwest"?

In [36]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [35]:
titles[titles.title == 'Hamlet'].year.min()

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [34]:
titles[titles.title == 'Treasure Island'].sort_values(by='year', ascending=True)

                  title  year
9257    Treasure Island  1918
97450   Treasure Island  1920
79561   Treasure Island  1934
109331  Treasure Island  1950
103794  Treasure Island  1972
200814  Treasure Island  1973
59379   Treasure Island  1985
216021  Treasure Island  1999

### How many movies were made in the year 1950?

In [57]:
len(titles[titles.year == 1950])

1092

In [45]:
result = titles.year
result.where(result == 1950).count()

1092

### How many movies were made in the year 1960?

In [48]:
titles.year.where(titles.year == 1960).count()

1491

### How many movies were made from 1950 through 1959?

In [49]:
titles.year.where((titles.year >= 1950) & (titles.year <= 1959)).count()

12648

### In what years has a movie titled "Batman" been released?

In [53]:
titles.year[titles.title == 'Batman']

105026    1943
194902    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [85]:
len(cast[cast.title=='Inception'])

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [93]:
len(cast[(cast.title=='Inception') & cast.n.isnull()])

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [98]:
len(cast[(cast.title=='Inception') & (~cast.n.isnull())])

51

In [100]:
cast[(cast.title=='Inception') & (~cast.n.isnull())].sort_values(by='n', ascending=True)

,title,year,name,type,character,n
568898,Inception,2010,Leonardo DiCaprio,actor,Cobb,1.0
828475,Inception,2010,Joseph Gordon-Levitt,actor,Arthur,2.0
3235534,Inception,2010,Ellen Page,actress,Ariadne,3.0
906534,Inception,2010,Tom Hardy,actor,Eames,4.0
2316076,Inception,2010,Ken Watanabe,actor,Saito,5.0
1806710,Inception,2010,Dileep Rao,actor,Yusuf,6.0
1556534,Inception,2010,Cillian Murphy,actor,Robert Fischer,7.0
176601,Inception,2010,Tom Berenger,actor,Browning,8.0
2655231,Inception,2010,Marion Cotillard,actress,Mal,9.0
1758660,Inception,2010,Pete Postlethwaite,actor,Maurice Fischer,10.0
314314,Inception,2010,Michael Caine,actor,Miles,11.0
877363,Inception,2010,Lukas Haas,actor,Nash,12.0
1261244,Inception,2010,Tai-Li Lee,actor,Tadashi,13.0
2811486,Inception,2010,Claire Geare,actress,Phillipa (3 years),14.0
1607325,Inception,2010,Magnus Nolan,actor,James (20 months),15.0
2811494,Inception,2010,Taylor Geare,actress,Phillipa (5 years),16.0
782598,Inception,2010,Johnathan Geare,actor,James (3 years),17.0
1401680,Inception,2010,Tohoru Masamune,actor,Japanese Security Guard,18.0
1639272,Inception,2010,Yuji Okumoto,actor,Saito's Attendant,19.0
320734,Inception,2010,Earl Cameron,actor,Elderly Bald Man,20.0
931960,Inception,2010,Ryan Hayward,actor,Lawyer,21.0
3210080,Inception,2010,Miranda Nolan,actress,Flight Attendant,22.0
683503,Inception,2010,Russ Fega,actor,Cab Driver,23.0
1127990,Inception,2010,Tim Kelleher,actor,Thin Man,24.0
3322282,Inception,2010,Talulah Riley,actress,Blonde,25.0
417523,Inception,2010,Nicolas Clerc,actor,Bridge Sub Con,26.0
2694120,Inception,2010,Coralie Dedykere,actress,Bridge Sub Con,27.0
3015847,Inception,2010,Silvie Laguna,actress,Bridge Sub Con,28.0
249890,Inception,2010,Virgile Bramly,actor,Bridge Sub Con,29.0
498194,Inception,2010,Jean-Michel Dagory,actor,Bridge Sub Con,30.0
2665104,Inception,2010,Helena Cullinan,actress,Penrose Sub Con,31.0
710467,Inception,2010,Mark Fleischmann,actor,Penrose Sub Con,32.0
3022374,Inception,2010,Shelley Lang,actress,Penrose Sub Con,33.0
427732,Inception,2010,Adam (IV) Cole,actor,Bar Sub Con,34.0
1559266,Inception,2010,Jack (III) Murray,actor,Bar Sub Con,35.0
2182558,Inception,2010,Kraig Thornber,actor,Bar Sub Con,36.0
3194911,Inception,2010,Angela Nathenson,actress,Bar Sub Con,37.0
2513408,Inception,2010,Natasha Beaumont,actress,Bar Sub Con,38.0
1792559,Inception,2010,Marc Raducci,actor,Lobby Sub Con,39.0
801634,Inception,2010,Carl Gilliard,actor,Lobby Sub Con,40.0
3084946,Inception,2010,Jill Maddrell,actress,Lobby Sub Con,41.0
3064032,Inception,2010,Alex (II) Lombard,actress,Lobby Sub Con,42.0
3289213,Inception,2010,Nicole Pulliam,actress,Lobby Sub Con,43.0
142958,Inception,2010,Peter Basham,actor,Fischer's Jet Captain,44.0
778481,Inception,2010,Michael Gaston,actor,Immigration Officer,45.0
1973357,Inception,2010,Felix Scott,actor,Businessman,46.0
1745236,Inception,2010,Andrew Pleavin,actor,Businessman,47.0
3315594,Inception,2010,Lisa (II) Reynolds,actress,Private Nurse,48.0
2166500,Inception,2010,Jason Tendell,actor,Fischer's Driver,49.0
802884,Inception,2010,Jack Gilroy,actor,Old Cobb,50.0
3556387,Inception,2010,Shannon Welles,actress,Old Mal,51.0

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [101]:
cast[(cast.title=='North by Northwest') & (~cast.n.isnull())].sort_values(by='n', ascending=True)

,title,year,name,type,character,n
839497,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3357872,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1403241,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3020772,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343340,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2919872,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1632825,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1227796,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2355422,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1744544,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
641401,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2209760,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447417,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1452846,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198234,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1333353,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

In [107]:
cast[(cast.title=='North by Northwest') & (~cast.n.isnull())].sort_values(by='n', ascending=True).ix[:,'name':].copy()

                         name     type                    character     n
839497             Cary Grant    actor           Roger O. Thornhill   1.0
3357872       Eva Marie Saint  actress                  Eve Kendall   2.0
1403241           James Mason    actor              Phillip Vandamm   3.0
3020772   Jessie Royce Landis  actress              Clara Thornhill   4.0
343340         Leo G. Carroll    actor                The Professor   5.0
2919872  Josephine Hutchinson  actress                Mrs. Townsend   6.0
1632825           Philip Ober    actor              Lester Townsend   7.0
1227796         Martin Landau    actor                      Leonard   8.0
2355422         Adam Williams    actor                     Valerian   9.0
1744544          Edward Platt    actor              Victor Larrabee  10.0
641401      Robert Ellenstein    actor                        Licht  11.0
2209760          Les Tremayne    actor                   Auctioneer  12.0
447417        Philip Coolidge    actor                    Dr. Cross  13.0
1452846         Patrick McVey    actor               Sergeant Flamm  14.0
198234           Edward Binns    actor               Captain Junket  15.0
1333353             Ken Lynch    actor  Charley - Chicago Policeman  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [109]:
cast[(cast.title=='Sleuth') & (cast.year==1972)].sort_values(by='n', ascending=True).ix[:,'name':].copy()

                       name     type                   character    n
1642601    Laurence Olivier    actor                 Andrew Wyke  1.0
314342        Michael Caine    actor                 Milo Tindle  2.0
359963       Alec Cawthorne    actor           Inspector Doppler  3.0
1411170  John (II) Matthews    actor  Detective Sergeant Tarrant  4.0
2616394  Eve (III) Channing  actress             Marguerite Wyke  5.0
1395120        Teddy Martin    actor      Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [110]:
cast[(cast.title=='Sleuth') & (cast.year==2007)].sort_values(by='n', ascending=True).ix[:,'name':].copy()

                        name     type          character    n
314343         Michael Caine    actor             Andrew  1.0
1245559             Jude Law    actor               Milo  2.0
1739308        Harold Pinter    actor        Man on T.V.  3.0
249997       Kenneth Branagh    actor  Other Man on T.V.  NaN
359964   Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2616393    Eve (II) Channing  actress    Marguerite Wyke  NaN
3220072    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [111]:
len(cast[(cast.title=='Hamlet') & (cast.year==1921)])

9

### How many roles were credited in Branaghs 1996 Hamlet?

In [112]:
len(cast[(cast.title=='Hamlet') & (cast.year==1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [115]:
len(cast[(cast.character=='Hamlet')])

91

In [117]:
cast[(cast.character=='Hamlet')].sort_values(by="year", ascending=False)

,title,year,name,type,character,n
154559,Nous sommes les autres,2017,Marc Beaupr?,actor,Hamlet,NaN
2134167,Redneck Hamlet,2017,Girard Swan,actor,Hamlet,NaN
1741884,Enter the Ghost,2017,Humphrey Pitman,actor,Hamlet,NaN
415989,Hamlet (IV),2016,Tom Clear,actor,Hamlet,NaN
812017,Hamlet (III),2016,Jonathan Goad,actor,Hamlet,NaN
1403537,Monkey Up,2016,Jonathan (VI) Mason,actor,Hamlet,14.0
659512,Royal Shakespeare Company: Hamlet,2016,Paapa Essiedu,actor,Hamlet,1.0
1599068,Timeless (II),2016,Hugo Niebeling,actor,Hamlet,NaN
520368,A Midsummer Night's Dream,2016,Samuel (IV) Davis,actor,Hamlet,NaN
3253086,Hamlet,2015,Maxine Peake,actress,Hamlet,1.0
2353288,Hamlet (II),2015,Travis Wilker,actor,Hamlet,NaN
2319222,Perilous,2015,Tyler (III) Watson,actor,Hamlet,NaN
2273565,"Hamlet, Son of a Kingpin",2015,Carlos Villar,actor,Hamlet,1.0
733839,Judy's Dead,2014,Jaron Frand,actor,Hamlet,NaN
1966467,Backdrifters,2014,Marius Robin Schroeter,actor,Hamlet,NaN
2377438,Velkam khom,2014,Ara Woland,actor,Hamlet,NaN
407561,Hamlet A.D.D.,2014,Bobby Ciraldo,actor,Hamlet,1.0
119910,The Sound of Spying,2014,Jonathan Ball,actor,Hamlet,NaN
1938875,Hamlet Unbound,2012,Hugo Santander,actor,Hamlet,NaN
1625824,A Christmas Carol,2012,Ciaran O'Grady,actor,Hamlet,NaN
2071836,The Dahl Dynasty,2012,Jimmy Sparks,actor,Hamlet,14.0
896171,Saturday Morning Massacre,2012,Hamlet (V),actor,Hamlet,5.0
1059677,Extremely Loud & Incredibly Close,2011,Brandon Jeffers,actor,Hamlet,27.0
1802195,Hamlet,2011,Bruce Ramsay,actor,Hamlet,1.0
2620035,Bill Shakespeare in Hollywood,2011,Rafika Chawishe,actress,Hamlet,NaN
1150046,Elf Onkel,2010,Alexander Khuon,actor,Hamlet,1.0
2232385,Kechikkan hayot,2010,Bobur Uldashev,actor,Hamlet,2.0
1462690,Hamlet,2009,David Melville,actor,Hamlet,1.0
1267416,Rosencrantz and Guildenstern Are Undead,2009,Kris Lemche,actor,Hamlet,4.0
1551525,Blind Company,2009,Luke Mulquiney,actor,Hamlet,NaN
...,...,...,...,...,...,...
1473947,Hamlet,1976,David Meyer,actor,Hamlet,6.0
2822678,Intikam Melegi/Kadin Hamlet,1976,Fatma Girik,actress,Hamlet,1.0
1986913,Predstava 'Hamleta' u Mrdusi Donjoj,1974,Rade Serbedzija,actor,Hamlet,1.0
168855,Un Amleto di meno,1973,Carmelo Bene,actor,Hamlet,NaN
1443655,Hamlet,1973,Rick McKenna,actor,Hamlet,NaN
2372074,Lukket avdeling,1972,Carsten Winger,actor,Hamlet,9.0
920146,The Magic Christian,1969,Laurence Harvey,actor,Hamlet,8.0
2363077,Hamlet,1969,Nicol Williamson,actor,Hamlet,1.0
495852,Come inguaiammo l'esercito,1965,Umberto D'Orsi,actor,Hamlet,4.0
530904,Train d'enfer,1965,?lvaro de Luna,actor,Hamlet,NaN
1914172,Hamlet (II),1964,Alfred Ryder,actor,Hamlet,NaN
300828,Hamlet,1964,Richard Burton,actor,Hamlet,1.0
2055172,Gamlet,1964,Innokentiy Smoktunovskiy,actor,Hamlet,1.0
1614139,Neoplachennyy dolg,1959,Boris Novikov,actor,Hamlet,7.0
940347,Superman in Exile,1954,Percy Helton,actor,Hamlet,17.0
790912,Love Is Better Than Ever,1952,Alex Gerry,actor,Hamlet,9.0
2005460,"Red, Hot and Blue",1949,Don Shelton,actor,Hamlet,18.0
93882,Top of the Town,1937,Mischa Auer,actor,Hamlet,6.0
1461133,Alla tiders Karlsson,1936,John Melin,actor,Hamlet,10.0
229712,I'll Love You Always,1935,Sven Hugo Borg,actor,Hamlet,NaN
531293,The Immortal Gentleman,1935,Terence de Marney,actor,Hamlet,6.0
1505480,Khoon Ka Khoon,1935,Sohrab Modi,actor,Hamlet,1.0
1514714,My Lips Betray,1933,Bull Montana,actor,Hamlet,NaN
3205791,Hamlet,1921,Asta Nielsen,actress,Hamlet,1.0
1904689,Amleto,1917,Ruggero Ruggeri,actor,Hamlet,1.0
1832632,Amleto,1914,Hamilton Revelle,actor,Hamlet,NaN
719515,Hamlet,1913,Johnston Forbes-Robertson,actor,Hamlet,2.0
1590418,Hamlet,1911,Alwin Neu?,actor,Hamlet,1.0
330232,Amleto,1910,Dante Cappelli,actor,Hamlet,NaN
1543661,Hamlet,1910,Jean Mounet-Sully,actor,Hamlet,NaN

### How many people have played an "Ophelia"?

In [119]:
cast[(cast.character=='Ophelia')].name.nunique()

107

In [120]:
len(cast[(cast.character=='Ophelia')].name)

109

In [177]:
c = cast[(cast.character=='Ophelia')].groupby(['name']).size()
for x in c.iteritems():
    if(x[1]>1):
        print(cast[(cast.character=='Ophelia') & (cast.name == x[0])])
#Will find a better way to do this

                      title  year            name     type character     n
2513650  Notorious But Nice  1933  Louise Beavers  actress   Ophelia   NaN
2513708            Virginia  1941  Louise Beavers  actress   Ophelia  10.0
                       title  year             name     type character    n
3044642  New Blood Awakening  2016  Vanessa Leonard  actress   Ophelia  6.0
3044643     New Blood Rising  2014  Vanessa Leonard  actress   Ophelia  3.0

### How many people have played a role called "The Dude"?

In [178]:
len(cast[(cast.character=='The Dude')])

17

### How many people have played a role called "The Stranger"?

In [179]:
len(cast[(cast.character=='The Stranger')])

211

### How many roles has Sidney Poitier played throughout his career?

In [180]:
len(cast[(cast.name=='Sidney Poitier')])

43

### How many roles has Judi Dench played?

In [181]:
len(cast[(cast.name=='Judi Dench')])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [197]:
cast[(cast.name=='Cary Grant')& (cast.n==2) & (((cast.year//10)*10) == 1940)].sort_values(by='year')

                   title  year        name   type    character    n
839494  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
839504    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [195]:
cast.head(1)

            title  year      name   type character   n
0  Closet Monster  2015  Buffy #1  actor   Buffy 4 NaN

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [199]:
cast[(cast.name=='Cary Grant')& (cast.n==1) & ((cast.year//10) == 194)].sort_values(by='year')

,title,year,name,type,character,n
839520,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
839476,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
839522,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
839509,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
839524,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
839500,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
839467,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
839492,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
839493,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
839501,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
839459,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
839496,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
839495,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
839498,Notorious,1946,Cary Grant,actor,Devlin,1.0
839516,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
839517,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
839491,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
839471,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
839480,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [208]:
len(cast[~cast.character.isnull() & (cast['type'] == 'actor') & (cast.year//10 == 195)])

154614

In [209]:
0

0

### How many roles were avilable for actresses in the 1950s?

In [210]:
len(cast[~cast.character.isnull() & (cast['type'] == 'actress') & (cast.year//10 == 195)])

56221

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [219]:
len(cast[(cast.n==1) & (cast.year <= 1980)])

63854

### How many non-leading roles were available through from the beginning of film history through 1980?

In [220]:
len(cast[~(cast.n==1) & (cast.year <= 1980)])

1093597

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [221]:
len(cast[(cast.n.isnull()) & (cast.year <= 1980)])

437650